
/** MyriadPro bold cond **/
/** bold cond **/
@font-face {
	font-family: 'Conv_MyriadPro-BoldCond';
	src: url('../fonts/MyriadPro-BoldCond.eot');
	src: local('☺'), url('../fonts/MyriadPro-BoldCond.woff') format('woff'), url('../fonts/MyriadPro-BoldCond.ttf') format('truetype'), url('../fonts/MyriadPro-BoldCond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/** Regular **/
@font-face {
	font-family: 'Conv_MyriadWebPro';
	src: url('../fonts/MyriadWebPro.eot');
	src: local('☺'), url('../fonts/MyriadWebPro.woff') format('woff'), url('../fonts/MyriadWebPro.ttf') format('truetype'), url('../fonts/MyriadWebPro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/** Humanst **/
/** Lith **/
@font-face {
	font-family: 'Conv_tt0288m_';
	src: url('../fonts/tt0288m_.eot');
	src: local('☺'), url('../fonts/tt0288m_.woff') format('woff'), url('../fonts/tt0288m_.ttf') format('truetype'), url('../fonts/tt0288m_.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/** Roman **/
@font-face {
	font-family: 'Conv_tt0290m_';
	src: url('../fonts/tt0290m_.eot');
	src: local('☺'), url('../fonts/tt0290m_.woff') format('woff'), url('../fonts/tt0290m_.ttf') format('truetype'), url('../fonts/tt0290m_.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/** Neo Tech Std **/
/** Regular **/
@font-face {
	font-family: 'Conv_NeoTechStd-Regular';
	src: url('../fonts/NeoTechStd-Regular.eot');
	src: local('☺'), url('../fonts/NeoTechStd-Regular.woff') format('woff'), url('../fonts/NeoTechStd-Regular.ttf') format('truetype'), url('../fonts/NeoTechStd-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Moseo */
/* 500 */
@font-face {
    font-family: 'museo500';
    src: url('../fonts/museo500-regular-webfont.eot');
    src: url('../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo500-regular-webfont.woff') format('woff'),
         url('../fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo500-regular-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* 700 */
@font-face {
    font-family: 'museo700';
    src: url('../fonts/museo700-regular-webfont.eot');
    src: url('../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo700-regular-webfont.woff') format('woff'),
         url('../fonts/museo700-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo700-regular-webfont.svg#museo700') format('svg');
    font-weight: normal;
    font-style: normal;

}

/** SohoGothicPro-ExtraBoldIt **/
@font-face {
	font-family: 'Conv_SohoGothicPro-ExtraBoldIt';
	src:  url('../fonts/SohoGothicPro-ExtraBoldIt.eot');
	src:  local('☺'), url('../fonts/SohoGothicPro-ExtraBoldIt.woff') format('woff'), 
		  url('../fonts/SohoGothicPro-ExtraBoldIt.ttf') format('truetype'), 
		  url('../fonts/SohoGothicPro-ExtraBoldIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}






















